{%extends "user/base.html"%}




{% block konten %} 

 <section id="wisata" class="wisata">
     <div class="container">
         <div class="section-title">
          <h2>{{d_berita.kategori}}|{{d_berita.tanggal}}</h2>
          <h3>Kunjungi Berita Desa<span> {{d_berita.nama}}</span></h3>
          <p>Lokasi:{{d_berita.lokasi}}|{{d_berita.status}}|{{d_berita.nama_pemilik}}</p>
        </div> 

        <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
               <img src="{{url_for('static', filename='foto/' + d_berita.gambar)}}" class="card-img-top" alt="sory gambar belum tersedia">
              <div class="card-body">
               <h5 class="card-title"><span> {{d_berita.nama}}</span></h5>
               <ul>
                <li>Status :{{d_berita.status}}</li>
                <li>Nama Pemilik :{{d_berita.nama_pemilik}}</li>
                <li>kategori :{{d_berita.kategori}}</li>
               </ul>
              <a href="#" class="btn btn-primary">Kategori : {{d_berita.kategori}}</a>
         </div>
</div>

        </div>
         <div class="col-md-8">
               <div class="alert alert-primary" role="alert">
              <p>Deskripsi</p>
               {{d_berita.deskripsi}} <br>
               <div>
                <video width="500" height="300" controls>
                    <source src="{{url_for('static', filename='foto/' + d_berita.video)}}" type="video/mp4">
                  </video>
               </div>
               
              </div>

        </div>


        </div>

      </div>

    </section><!-- End Team Section -->
      
{% endblock konten %}

<div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static', filename='foto/' + d_berita.gambar)}}" class="img-fluid" alt="" width="px">
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>

              

              
            </div>
          </div>

           <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static', filename='foto/' + d_berita.gambar)}}" class="img-fluid" alt="">
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>

              

              
            </div>
          </div>
            </div>
          </div>