{%extends "user/base.html"%}

{%block title%}
<h3 class="display-5">Sistem Informasi Desa Tembal</h3>
<p class="lead">Sejarah Desa Tembal</p>
{%endblock  title%}


{%block konten%}
<div class="row">
    <div class="col-md-3 mt-3 d-inline-flex flex-column justify-content-center align-items-center">
        <div class="hubungi d-flex flex-column justify-content-center align-items-center">
            <img src="../static/img/telpon.svg" height="50px" width="50px" alt="" class="mb-4">
            <p class="h4"><strong>085289056358</strong></p> 
        </div>
    </div>
    <div class="col-md-3 col-md-3 d-inline-flex flex-column justify-content-center align-items-center">
        <div class="hubungi d-flex flex-column justify-content-center align-items-center">
            <img src="../static/img/lokasi.svg" height="50px" width="50px" alt="" class="mb-4">
            <p class="h4"><strong>Desa Tembal</strong></p>
        </div>
    </div>
</div>


{%endblock%}