{%extends "user/base.html"%}

{% block konten %} 
<section id="profil" class="profil">
      <div class="container">
            <div class="section-title">
              <h3>Visi <span>Misi</span></h3>
              {% for data in dataprofil %}
              <div style="border: 1px solid #ED002c; margin: 5px; padding: 20px; border-radius: 20px;">
                <h3><span>VISI</span></h3>
                <p>{{data.visi|safe}}</p>
                <br>
                <br>
                <h3><span>MISI</span></h3>
                <p>{{data.misi|safe}}</p>
                {{ ckeditor.load() }}
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </section>
{% endblock konten %}