{%extends "admin/base.html"%}

{% block konten %}
<div class="row my-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-4">
                    <p>Masukan Data Demografi</p>
                      <form method="POST">
                          {{form.hidden_tag()}}
                          <div class="form-group">
                              {{form.nama_desa.label(class="form-control-label")}}
                              {{form.nama_desa(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.visi.label(class="form-control-label")}}
                              {{form.visi(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.misi.label(class="form-control-label")}}
                              {{form.misi(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.alamat.label(class="form-control-label")}}
                              {{form.alamat(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.sejarah.label(class="form-control-label")}}
                              {{form.sejarah(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.peraturan.label(class="form-control-label")}}
                              {{form.peraturan(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.geografis.label(class="form-control-label")}}
                              {{form.geografis(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.kontak.label(class="form-control-label")}}
                              {{form.kontak(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.logo.label(class="form-control-label")}}
                              {{form.logo(class="form-control ")}}
                          </div>
                          <div class="form-group">
                            {{form.submit(class="btn btn-primary")}}
                          </div>
                        </form>
                      </div>
                      <div class="col-lg-8">
                        <p>Data Profil</p>
                        <form action="" method="POST" > <!-- form search -->
                          {{form.hidden_tag()}}
                          <div class="input-group">
                          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" placeholder="masukan tahun..." name="tag" id="tag">
                          <input class="btn btn-bg-primary" type="submit" value="Cari">
                        </div>                   
                      </form>

                  <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0 table-hover ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Tahun</th>
                                <th>Laki-Laki</th>
                                <th>Perempuan</th>
                                <th>Laju</th>
                                <th>Proses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for data in demografi.items%}
                            <tr>
                                <td>{{data.id}}</ol></td>
                                <td>{{data.tahun}}</td>
                                <td>{{data.jumlah_l}}</td>
                                <td>{{data.jumlah_p}}</td>
                                <td>{{data.laju_pertumbuhan}}</td>
                                <td>
                                  <a class="btn bg-gradient-warning" href="{{url_for('Sadmin.update_demo', ed_id=data.id)}}">Ubah</a>
                                  <a class="btn bg-gradient-danger" href="/hapusdemografi/{{data.id}}" onclick="return confirm('Yakin data akan di hapus')">Hapus</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                      </table>

                      <!-- kode pagenation -->
                      <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            {% if demografi.has_prev %}
                              <li class="page-item"><a class="page-link" href="{{ url_for('Sadmin.data_demog2', page=demografi.prev_num)}}"><<</a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link"><<</a>
                            {% endif %}
                              </li>
          
                            {% for page in demografi.iter_pages(left_edge=3, right_edge=3) %}
                            {% if page %}
                                {% if page==demografi.page %}
                                <li class="page-item active"><a class="page-link" href="{{ url_for('Sadmin.data_demog2', page=page)}}">{{ page }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('Sadmin.data_demog2', page=page)}}">{{ page }}</a></li>
                                {% endif %}
                            {% else %}
                            <li class="page-item disabled" id="example_ellipsis"><a class="page-link" href="#">...</a></li>
                            {% endif %}
                            {% endfor %}
          
                            {% if demografi.has_next %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('Sadmin.data_demog2', page=demografi.next_num)}}">>></a></li> <!-- next-->
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
                            {% endif %}
                          </ul>
                        </nav>
                      <!-- akhir kode pagenation -->
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2"> 
            </div>
          </div>
        </div>
        
</div>

{% endblock konten %}