{%extends "admin/base.html"%}

{% block konten %}
<div class="row my-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-4">
                    <p>Masukan Data Pendidikan</p>
                      <form method="POST">
                          {{form.hidden_tag()}}
                          <div class="form-group">
                              {{form.tahun.label(class="form-control-label")}}
                              {{form.tahun(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.tdk_sd.label(class="form-control-label")}}
                              {{form.tdk_sd(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.tamat_sd.label(class="form-control-label")}}
                              {{form.tamat_sd(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.tamat_smp.label(class="form-control-label")}}
                              {{form.tamat_smp(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.tamat_sma.label(class="form-control-label")}}
                              {{form.tamat_sma(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.tamat_s1.label(class="form-control-label")}}
                              {{form.tamat_s1(class="form-control ")}}
                          </div>
                          <div class="form-group">
                              {{form.tamat_s2.label(class="form-control-label")}}
                              {{form.tamat_s2(class="form-control ")}}
                          </div>
                  
                          <div class="form-group">
                              {{form.submit(class="btn btn-primary")}}
                          </div>
                  
                      </form>
                    
                </div>

                <div class="col-lg-8">
                    <p></p>
                </div>
                
                
                
              </div>
            </div>
            <div class="card-body px-0 pb-2"> 
            </div>
          </div>
        </div>
        
</div>

{% endblock konten %}