{%extends "admin/base.html"%}

{% block konten %}
<div class="row my-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-4">
                    <p>Masukan Perubahan Data Wisata</p>
                      <form method="POST" enctype="multipart/form-data">
                          {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.nama.label(class="form-control-label")}}
                            {% if form.nama.errors %}
                                 {{form.nama(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.nama.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.nama(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.lokasi.label(class="form-control-label")}}
                            {% if form.lokasi.errors %}
                                 {{form.lokasi(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.lokasi.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.lokasi(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.kategori.label(class="form-control-label")}}
                            {% if form.kategori.errors %}
                                 {{form.kategori(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.kategori.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.kategori(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.status.label(class="form-control-label")}}
                            {% if form.status.errors %}
                                 {{form.status(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.status.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.status(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.nama_pemilik.label(class="form-control-label")}}
                            {% if form.nama_pemilik.errors %}
                                 {{form.nama_pemilik(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.nama_pemilik.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.nama_pemilik(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.deskripsi.label(class="form-control-label")}}
                            {% if form.deskripsi.errors %}
                                 {{form.deskripsi(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.deskripsi.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.deskripsi(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.gambar.label(class="form-control-label")}}
                            {% if form.gambar.errors %}
                                 {{form.gambar(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.gambar.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.gambar(class="form-control")}}
                            
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{form.video.label(class="form-control-label")}}
                            {% if form.video.errors %}
                                 {{form.video(class="form-control is-invalid")}}
                        
                                 <div class="invalid-feedback">
                                     {%for error in form.video.errors %}
                                     <span>{{error}}</span>
                                     {% endfor %}
                                 </div>
                            {%else%}
                                {{form.video(class="form-control")}}
                            
                            {%endif%}
                        </div>




                          
                  
                          <div class="form-group">
                              {{form.submit(class="btn btn-primary")}}
                          </div>
                  
                      </form>
                    
                </div>

                <div class="col-lg-8">
                    <p></p>
                


                </div>
                
                
                
              </div>
            </div>
            <div class="card-body px-0 pb-2"> 
            </div>
          </div>
        </div>
        
</div>

{% endblock konten %}