<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contoh Surat</title>
    <style>
        table tr .text2{
            text-align: center;
        }
        table tr td {
            font-size: 13;
        }
        table tr .text{
            text-align: right;
            font-size: 13;
        }
    </style>
</head>
<body>
  <center>
      <table>
          <tr>
              <td><img src="img/logo desa tembal.png" width="90" height="90" ></td>
              <td>
                  <center>
                      <font size="4" >DINAS PEMUDA DAN OLAHRAGA</font><br>
                      <font size="5" ><b>DESA TEMBAL</b></font><br>
                      <font size="3" >Kecamatan Bacam Selatan, Kabupaten Halmahera selatan</font><br>
                      <font size="3" ><i>Jln. Trans Halmahera, Desa Tembal , Kec. Bacan Selatan, Kab. Halmahera Selatan</i></font><br>
                  </center>
              </td>
          </tr>
          <tr>
              <td colspan="2"><hr></td>
          </tr>
      </table>
      <table width="537" >
          <tr>
              <td>
                <center>
                    <font size="4"><b><u>Surat Keterangan Kelahiran</u></b></font><br>
                    <font size="4">Nomor : </font><br>

                </center>
              </td>
          </tr>
      </table>
      <br>
      <table width="600">
          <tr>
              <td>
                  <font size="3">Yang bertanda tangan dibawah ini Kepala Desa Tembal, Kecamatan Bacan Selatan, Kabupaten Halmahera Selatan, Provinsi Maluku Utara, Menerangkan dengan sebenar-benarnya bahwa pada :</font>
              </td>
          </tr>
        </table>
        <table>
            <tr>
              <td>1. Hari</td>
              <td width="300">:</td>
            </tr>
            <tr>
              <td>2. Tanggal</td>
              <td width="300">:</td>
            </tr>
            <tr>
              <td>3. Pukul</td>
              <td width="300">:</td>
            </tr>
            <tr>
              <td>4.Tempat</td>
              <td width="300">:</td>
            </tr>
            <tr>
              <td>5.Telah Lahir Seorang Anak</td>
              <td width="300">:</td>
            </tr>
        </table>
        <br>
        <table width="600">
            <tr>
                <td>
                    <font size="3">Dari Seorang Ibu :</font>
                </td>
            </tr>
        </table>
          <table>
            <tr>
              <td>6. Nama Lengkap</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>7. Nik / No KTP</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>8. Umur</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>9. Pekerjaan</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>10. Alamat Tempat Tinggal</td>
              <td width="290">:</td>
            </tr>
        </table>
        <table width="600">
            <tr>
                <td>
                    <font size="3">Dari Seorang Istri :</font>
                </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>11. Nama Lengkap</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>12. Nik / No KTP</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>13. Umur</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>14. Pekerjaan</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>15.Alamat Tempat Tinggal</td>
              <td width="290">:</td>
            </tr>
        </table>
        <br>
        <table width="600">
            <tr>
                <td>
                    <font size="3">Surat Keterangan ini di Buat Berdasarkan Keterangan Pelapor :</font>
                </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>16. Nama Lengkap</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>17. Nik / No KTP</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>18. Umur</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>19. Pekerjaan</td>
              <td width="290">:</td>
            </tr>
            <tr>
              <td>10.Alamat Tempat Tinggal</td>
              <td width="290">:</td>
            </tr>
        </table>
        <table width="600">
            <tr>
                <td>
                    <font size="3">Demikian surat keterangan ini dibuat dengan sebenarnya, untuk dipergunakan sebagaimana mestinya.</font>
                </td>
            </tr>
            <br>
            <table>
                <tr>
                    <td width="400"></td>
                    <td class="text2" align="center">Tembal, 19 Juni 2022 <br><br><br> <br> <br> Bpk. Sadek Salama</td>
                </tr>
            </table>
        </table>
  </center>  
</body>
</html>