{%extends "base.html"%}

{%block title%}
<h3 class="display-5">Sistem Informasi Desa Tembal</h3>
<p class="lead">Sejarah Desa Tembal</p>
{%endblock  title%}


{%block konten%}
<div class="row">
    <div class="col-md-6 mt-4 d-inline-flex flex-column justify-content-center align-items-center">
        <div class="hubungi d-flex flex-column justify-content-center align-items-center">
            <img src="../static/img/telpon.svg" height="50px" width="50px" alt="" class="mb-4">
            <p class="h4"><strong>082296238216</strong></p> 
        </div>
    </div>
    <div class="col-md-6 col-md-6 d-inline-flex flex-column justify-content-center align-items-center">
        <div class="hubungi d-flex flex-column justify-content-center align-items-center">
            <img src="../static/img/lokasi.svg" height="50px" width="50px" alt="" class="mb-4">
            <p class="h4"><strong>Desa Tembal</strong></p>
        </div>
    </div>
</div>


{%endblock%}
<!-- <div class="row">
    <div class="col-md-8">
        {% for data in form %}
            <h3>Sejarah</h3>
            <hr>
            <p>{{data.sejarah}}</p>
            <br>

        {%endfor%}
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{{url_for('static', filename='img/1.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pengambilan Data</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div> -->