{%extends "base2.html"%}

{%block title%}
<h3 class="display-5">Sistem Informasi Kelurahan Kalumpang</h3>
<p class="lead">mengisi data demografi kelurahan kalumpang</p>
{%endblock%}


{%block konten%}
<div class="container">
    <h1>Megisi data Profil kelurahan kalumpang</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.tahun.label(class="form-control-label")}}
            {{form.tahun(class="form-control ")}}
        </div>
        <div class="form-group">
            {{form.jumlah_l.label(class="form-control-label")}}
            {{form.jumlah_l(class="form-control ")}}
        </div>
        <div class="form-group">
            {{form.jumlah_p.label(class="form-control-label")}}
            {{form.jumlah_p(class="form-control ")}}
        </div>
        <div class="form-group">
            {{form.laju_pertumbuhan.label(class="form-control-label")}}
            {{form.laju_pertumbuhan(class="form-control ")}}
        </div>

        <div class="form-group">
            {{form.submit(class="btn btn-primary")}}
        </div>

    </form>

</div>
</div>
</div>
{%endblock%}